USE [master]
GO
/****** Object:  Database [TP2]    Script Date: 12/07/2017 03:49:38 p.m. ******/
CREATE DATABASE [TP2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP2', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TP2.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TP2_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TP2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP2]
GO
/****** Object:  Table [dbo].[Envios]    Script Date: 12/07/2017 03:49:38 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envios](
	[Numero] [int] NOT NULL,
	[pNumero] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Envios] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC,
	[pNumero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Productos]    Script Date: 12/07/2017 03:49:38 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Productos](
	[pNumero] [int] NOT NULL,
	[pNombre] [varchar](50) NOT NULL,
	[Precio] [float] NOT NULL,
	[Tamaño] [varchar](50) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[pNumero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 12/07/2017 03:49:38 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Numero] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Domicilio] [varchar](50) NULL,
	[Localidad] [varchar](50) NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Envios] ([Numero], [pNumero], [Cantidad]) VALUES (100, 1, 500)
INSERT [dbo].[Envios] ([Numero], [pNumero], [Cantidad]) VALUES (100, 2, 1500)
INSERT [dbo].[Envios] ([Numero], [pNumero], [Cantidad]) VALUES (100, 3, 100)
INSERT [dbo].[Productos] ([pNumero], [pNombre], [Precio], [Tamaño]) VALUES (2, N'Cigarrillos', 3.2, N'Mediano')
INSERT [dbo].[Productos] ([pNumero], [pNombre], [Precio], [Tamaño]) VALUES (3, N'Gaseosa', 7.5, N'Mediano')
INSERT [dbo].[Productos] ([pNumero], [pNombre], [Precio], [Tamaño]) VALUES (4, N'Chocolate', 0.35, N'Chico')
INSERT [dbo].[Proveedores] ([Numero], [Nombre], [Domicilio], [Localidad]) VALUES (100, N'Pérez', N'Perón 555', N'Capital')
INSERT [dbo].[Proveedores] ([Numero], [Nombre], [Domicilio], [Localidad]) VALUES (101, N'Jiménez', N'Mitre 750', N'Avellaneda')
INSERT [dbo].[Proveedores] ([Numero], [Nombre], [Domicilio], [Localidad]) VALUES (102, N'Aguirre', N'Boedo 436', N'Bernal')
USE [master]
GO
