@{
    Page.Title = "Salida";
    Layout = "Layout.cshtml";
}


<div>
    <h3>Ingrese la patente del vehículo que sale</h3>
    <form action="Resumen.cshtml" method="post">


        <label>Patente</label>
        <input type="text" name="patente" value="" />
        <br />
    
    <br />
    <br />
    <input  class="btn btn-primary" type="submit" name="btn" value="Imprimir Resumen" />

    </form>
</div>