<!DOCTYPE html>

<html>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <div class="text-center">
            <br />
        <a class="btn btn-primary" href="../Vehiculo/Index">Lista de autos</a>
        <a class="btn btn-primary" href="../Registros/Index">Registro de parcelas</a>
        <a class="btn btn-primary" href="../TipoDeVehiculo/Index">Modificar tarifas</a>
        </div>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
