@{
    Page.Title = "Title goes here";
    Layout = "Layout.cshtml";
    
    if(IsPost)
    {
        RecetasEntities re = new RecetasEntities();

        Ingrediente ingrediente = new Ingrediente();

        ingrediente.nombre = Request["nombreIngrediente"];

        re.Ingrediente.Add(ingrediente);
        re.SaveChanges();
    }
    
}


<div>
    <form action="#" method="post">
        
        <h2>Agregar ingrediente</h2>

        <label>Nombre</label>
        <input type="text" name="nombreIngrediente" value="" />
        <br /><br />
        <input class="btn btn-default" type="submit" name="alta" value="AGREGAR" />
    </form>
</div>