@{
    Page.Title = "La pagina de Diego";
    Layout = "Layout.cshtml";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head><title></title></head>
<body>
    <div>
        <h1>Alto titulo</h1>
        <h2>Bajo titulo</h2>

        <p>Esto es un parrafo</p>
        <img src="https://media.giphy.com/media/BIuuwHRNKs15C/200.gif" alt="Descripcion de la imagen" />
        <ol>
            <li>Primer item</li>
            <li>Segundo item</li>
        </ol>
        
        <ul>
            <li>Primer item</li>
            <li>Segundo item</li>
        </ul>
    </div>
</body>
</html>
