<!DOCTYPE html>
<html>
    <head>
        <link href="StyleSheet.css" rel="stylesheet" />
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <a href="http://www.google.com">La vieja confiable</a>
        <a href="Index.cshtml">Ir a la pagina principal</a>

    </head>
    <body>
        @RenderBody()
    </body>
</html>
