@{
    Page.Title = "Title goes here";
    Layout = "Layout.cshtml";

}



<div>
    <form action="ContentPage2.cshtml" method="post">
        <label>Nombre Receta</label>
        <input type="text" name="nombre" value="" />
        <br />
        <label>Ingrediente 1</label>
        <input type="text" name="ingrediente1" value="" />
        <br />
        <label>Ingrediente 2</label>
        <input type="text" name="ingrediente2" value="" />
        <br />
        <label>Ingrediente 3</label>
        <input type="text" name="ingrediente3" value="" />
        <br />
        <label>Instrucciones</label>
        <textarea name="instrucciones"></textarea>
        <br />
    

    <input  class="btn btn-primary" type="submit" name="btn" value="Enviar Receta" />

    </form>
</div>