<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("COCINA", required: false)
    </head>
    <body>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        @RenderBody()
    </body>
</html>
